<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style type="text/css">
	</style>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<title>EaseMyTrip Thankyou</title>

	<link rel="stylesheet" type="text/css" href="/css/register.css">
	<script src="https://kit.fontawesome.com/8a3b33a6c9.js" crossorigin="anonymous"></script> 
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="http://localhost:5000" class="logo pull-left">
      <img class="logo-click" src="/images/Logo.png" alt="Online Travel Agency" title="Lowest Hotel Fairs in India">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="position: center">
      <li class="nav-item">
        <!-- <p style="position: center; font-size: 24px; font: bolder; color: #ff6600; margin-left: 550px;">DELHI</p> -->
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #f8f9fa; color:rgba(0,0,0,.5); border-color: #f8f9fa">24x7 Helpline
            </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Tel- 06596245053</a>
                <a class="dropdown-item" href="mailto:easemytripcare2021@gmail.com">easemytripcare2021@gmail.com</a>
              </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000" style="margin-right: 68px; font-size: 15.5px;" >Home</a>
        </li>
    </ul>    
  </div>
</nav>
     <form action="#" method="post">
      <h2 style="color: #ff6600;">Thank You!</h2>
		<p style="font-size: 20px;">
		     Thank you for using EaseMyTrip. <br>This is a sample online hotel booking website so no money has been debited from your account.
		</p>
	</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
<script src="js/register.js"></script>

</body>
</html>